@import '../../styles/mixins/flex.scss';
@import '../../styles/mixins/grid.scss';
@import '../../styles/mixins/gradient-text.scss';

.card {
  background: linear-gradient(90deg, #040404 0%, #1c0e40 100%);

  &_header {
    @include flex(row, center);
    padding: 20px;

    &__logo {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-right: 20px;

      img {
        width: 64px;
        height: 64px;
        object-fit: contain;
      }
    }

    &__info {
      color: var(--color-text-primary);
      font-size: 14px;

      &_days {
        margin-bottom: 6px;
      }

      &_name {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 6px;
      }

      &_subtitle {
        opacity: 0.5;
      }
    }
  }

  &_links {
    @include grid(repeat(3, 1fr));
    margin-bottom: 35px;

    &__link {
      color: var(--color-text-primary);
      text-decoration: none;
      cursor: pointer;
      background: #251e55;
      padding: 7px 0;
      text-align: center;
      span {
        font-size: 13px;
        opacity: 0.5;
      }
    }
  }

  &_body {
    margin-bottom: 20px;
    padding: 0 10px;
    @include flex(row);

    &__logo {
      margin-right: 8px;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }

    &__info {
      @include grid(repeat(2, 1fr), auto);
      grid-column-gap: 52px;
      grid-row-gap: 16px;

      &_item {
        color: var(--color-text-primary);

        &__title {
          font-size: 14px;
          opacity: 0.5;
          margin-bottom: 6px;
        }

        &__value {
          font-weight: 700;
          font-size: 16px;
          text-transform: capitalize;
        }
      }
    }
  }

  &_footer {
    &__wrap {
      padding: 0 10px 10px;
    }
    text-align: center;
    background: linear-gradient(90deg, rgba(4, 4, 4, 0.3) 0%, rgba(28, 14, 64, 0.3) 100%);
    border: 3px solid #251e55;
    padding: 10px 30px;

    &__top {
      @include flex(row, center, space-between);
      margin-bottom: 3px;

      &_liquidity {
        color: var(--color-text-primary);
        font-size: 14px;
        opacity: 0.5;
      }
    }

    &_gradient {
      span {
        @include gradient-text;
        font-weight: 700;
        font-size: 22px;
      }
    }
  }
}
