// input
.input {
  margin-bottom: 40px;
  input {
    width: 100%;
    padding: 17px 19px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    background-color: #000;
    border: 2px solid var(--blue);
    border-radius: 2px;
  }

  &_title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8px;
  }

  &_subtitle {
    margin-top: 10px;
    font-size: 15px;
  }

  &.invalid {
    input {
      color: var(--create-pool-input-invalid-color);
      border-color: var(--create-pool-input-invalid-color);
    }

    .input_title {
      color: var(--create-pool-input-invalid-color);
    }
  }
}

.invalid_err {
  margin-top: 14px;
  display: flex;
  align-items: center;

  &__img {
    height: 24px;
    margin-right: 10px;
    font-size: 15px;
  }

  &__text {
    color: var(--create-pool-input-invalid-color);
  }
}
