@import '../../styles/mixins/container.scss';
@import '../../styles/mixins/grid.scss';
@import '../../styles/mixins/flex.scss';
@import '../../styles/mixins/media.scss';

.container {
  @include container;
}

.tier {
  position: relative;

  &_title {
    text-align: center;
    font-size: 40px;
    color: var(--grey);
    margin-bottom: 34px;
    @include b(tablet) {
      font-size: 23px;
    }
  }

  &_body {
    @include grid(repeat(5, 1fr), 1fr, 0px);
    @include b(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &_item {
    text-align: center;
    opacity: 0.5;
    @include b(mobile) {
      @include grid(1fr 70px, 1fr, 17px);
      align-items: center;
      margin-bottom: 20px;
    }
    @include b(extramobile) {
      @include grid(1fr 70px, 1fr, 17px);
    }

    &.active {
      opacity: 1;
    }

    &.pawn {
      .tier_item_bg {
        background-color: var(--blue);
      }
    }
    &.bishop {
      .tier_item_bg {
        background-color: #934dd9;
      }
    }
    &.rook {
      .tier_item_bg {
        background-color: #b354b7;
      }
    }
    &.queen {
      .tier_item_bg {
        background-color: #dd5c8b;
      }
    }
    &.king {
      .tier_item_bg {
        background-color: #fd6369;
      }
    }

    &_bg {
      height: 29px;
      margin-bottom: 19px;
      @include b(mobile) {
        margin-bottom: 0;
      }
    }

    &_title {
      font-weight: bold;
      font-size: 20px;
      color: var(--grey);
      @include b(mobile) {
        text-align: left;
        width: 70px;
      }
    }
  }
}
