@import '../../../styles/mixins/container.scss';
@import '../../../styles/mixins/flex.scss';
@import '../../../styles/mixins/grid.scss';
@import '../../../styles/mixins/media.scss';

.block {
  background-color: var(--about-powered-by-background);
  padding: 47px 0;
  text-align: center;
}
.container {
  @include container;
}
.title {
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.531474px;
  margin-bottom: 40px;
}

.logos {
  @include grid(repeat(3, 1fr));
  align-items: center;

  @include b(tablet) {
    @include grid(repeat(1, 1fr));
  }
}
