@import '../../styles/mixins/container.scss';
@import '../../styles/mixins/gradient-text.scss';
@import '../../styles/mixins/grid.scss';
@import '../../styles/mixins/flex.scss';
@import '../../styles/mixins/media';

.page {
  padding-top: 170px;
  padding-bottom: 60px;
  background: var(--gradient-background);
  min-height: 100vh;
}

.container {
  @include container;
}

.title {
  font-size: 40px;
  text-align: center;
  color: var(--grey);
  margin-bottom: 49px;

  @include b('mobile') {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 40px;
  }
}

.balance {
  background: var(--staking-balance-background);

  &_inner {
    padding: 40px;
    text-align: center;
  }

  &_title {
    span {
      @include gradient-text;
    }
    font-size: 24px;
    margin-bottom: 16px;
  }

  &_bnb {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 60px;

    span {
      font-size: 36px;
    }
  }

  &_subtitle {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &_subinfo {
    color: var(--staking-subinfo-color);
    margin-bottom: 24px;
  }

  &_amount {
    border-radius: 2px;
    background-color: var(--staking-amount-background);
    margin-bottom: 30px;

    &__inner {
      width: 100%;
      padding: 20px 0;
      position: relative;
      align-items: center;
    }

    &__money {
      font-weight: 500;
      font-size: 36px;
      padding: 0 80px;
      input {
        font-weight: 500;
        font-size: 36px;
        color: #fff;
        width: 100%;
        background: transparent;
        border: none;
        text-align: center;
      }
      input::placeholder {
        font-weight: 500;
        font-size: 36px;
        color: #fff;
      }
    }

    &__img {
      position: absolute;
      top: 30px;
      right: 17px;
      height: 28px;
    }
  }

  &_button {
    cursor: pointer;
    display: inline-block;
    padding: 16px 80px;
    background: var(--gradient);
  }
}

.small_balances {
  margin-top: 20px;
  @include grid(repeat(2, 1fr), 1fr, 90px);

  @include b('mobile') {
    @include grid(repeat(1, 1fr), 1fr 1fr, 20px);
    padding: 0 0 100px 0;
  }

  &.wide {
    grid-column-gap: 200px;
    grid-row-gap: 50px;
  }
}

.your_tier {
  padding-top: 50px;
  margin-bottom: 30px;
}

.bottom_table {
  background: linear-gradient(90deg, #040404 0%, #1c0e40 100%);
  padding: 26px 43px;
  margin-bottom: 66px;

  &__title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    span {
      @include gradient-text;
    }
  }
}

.small_balance {
  text-align: center;

  &_title {
    font-size: 24px;
    margin-bottom: 15px;
    span {
      @include gradient-text;
    }
  }

  &_subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 13px;
  }
}

.button_center {
  display: flex;
  justify-content: center;
}
