.bar_body {
  position: relative;
  width: 100%;
  background: var(--progress-bar-background);
  border-radius: 12px;
  height: 14px;
}

.bar_gradient {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--gradient);
}

.checkmark {
  position: absolute;
  top: -3px;
  right: -5px;
}
